@import "colors/tokyonight.css";

* {
    font-family: "MesloLGS Nerd Font Mono Bold";
    font-size: 22px;
    font-weight: bold;
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    text-shadow: none;
}

#waybar {
    background: transparent;
    color: @fg;
}

#temperature,
#bluetooth,
#mpris,
#window,
#cpu,
#load {
    padding: 2px 11px;
}

#network,
#tray {
    padding: 2px 9px;
}

#pulseaudio {
    padding: 2px 12px 2px 6px;
}

#pulseaudio-slider {
    padding: 0 11px 0 3px;
}

#workspaces,
#bluetooth,
#memory,
#temperature,
#cpu,
#mpris,
#window,
#load {
    margin: 0 3px;
}

#right,
#left,
#right-hidden-top,
#clock {
    padding: 3px 15px;
    border-radius: 22px;
    background: @module-bg;
    border: 1px solid @border;
}

#right-hidden-top {
    padding: 0 18px;
}

#right, #left {
    margin: 0 12px;
}

#clock {
    padding: 3px 27px;
}

#custom-ctlcenter {
    margin-left: 11px;
    color: @blue;
}

#power-profiles-daemon {
    margin-right: 11px;
}

#cpu.critical,
#memory.critical,
#network.disabled,
#temperature.critical,
#network.disconnected,
#power-profiles-daemon.performance {
    color: @red;
}

#cpu.warning,
#memory.warning,
#temperature.warning {
    color: @yellow;
    background: unset;
}

#power-profiles-daemon.power-saver {
    color: @green;
}

#workspaces button {
    color: @workspace-fg;
    font-size: 21px;
    border-radius: 100%;
    padding: 0 3px;
    margin: 0 4px;
    min-width: 24px;
}

#workspaces button:hover {
    background: transparent;
}

#mpris.paused {
    color: @inactive;
}

/* ---<==== Misc ====>--- */

tooltip,
tooltip.background {
    background-image: none;
    border-radius: 22px;
    background: @tooltip-bg;
    box-shadow: none;
}

tooltip {
    border: 1px solid @border;
}

tooltip label {
    padding: 5px 15px;
    color: @fg;
    font-weight: 700;
}

.popup * {
    box-shadow: none;
    outline: none;
    border-radius: 15px;
}

menu {
    border-radius: 15px;
    font-weight: 700;
    color: @fg;
    background: @tooltip-bg;
    border: 1px solid @border;
}

menu > * {
    padding: 5px 0px;
}

menu > *:hover {
    border-radius: 15px;
    background-color: @highlight;
}

/* Sliders */

slider {
    opacity: 0;
    box-shadow: none;
}

trough {
    min-width: 75px;
    min-height: 8px;
    border-radius: 12px;
    background: @inactive;
}

trough highlight {
    border-radius: 12px;
    background-color: @fg;
    background-image: none;
}
